@use '../../styles/typography' as typography;
@use '../../styles/variables' as variables;
@use '../../styles/mixins' as mixins;

.page {
  width: 100vw;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include mixins.on-desktop {
    // font-size: 16px;
    padding: 40px;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  @include mixins.page-background;
}

.wrapper {
  @include mixins.page-background;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttonBack {
  @include mixins.back-button;
}

.buttonExit {
  @include mixins.orange-button;
}

.title {
  margin-block: 0;
  text-align: center;

  // @include mixins.on-desktop {
  //   font-size: 24px;
  // }
}
