@use '../../styles/typography' as typography;
@use '../../styles/variables' as variables;
@use '../../styles/mixins' as mixins;

.modal {
  max-width: 90%;
  max-height: 90vh;
  background-color: variables.$white-background;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 20px;

  @include mixins.on-desktop {
    width: 540px;
    padding: 20px;
  }
}

.container {
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputLabel {
  text-align: center;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid variables.$grey-background;
  border-radius: 14px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 16px;
  background-color: variables.$white-background;

  @include mixins.hover(box-shadow, 0px 4px 10px 0px rgba(21, 71, 15, 0.3));
}

.buttonBack {
  @include mixins.back-button;

  border-color: variables.$red-notification-text; 
}

.button {
  @include mixins.green-button;
}