@use './variables' as variables;
@use './typography' as typography;

@mixin on-tablet {
  @media (min-width: variables.$tablet-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: variables.$laptop-width) {
    @content;
  }
}

@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin focus($_property, $_toValue) {
  &:focus {
    #{$_property}: $_toValue;
  }
}

@mixin active($_property, $_toValue) {
  &:active {
    #{$_property}: $_toValue;
  }
}

@mixin green-button {
  margin: 0 auto;
  padding: 10px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: variables.$border-radius;
  border: variables.$has-booking;
  color: variables.$near-black-text;
  background-color: variables.$has-booking;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  font-size: 18px;

  @include typography.date-numbers-mobile;

  @include on-desktop {
    @include typography.date-numbers-web;
  }

  &:active {
    color: variables.$near-black-text;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 0px 4px 10px 0px rgba(21, 71, 15, 0.3);
    color: variables.$near-black-text;
  }

  &:disabled {
    color: variables.$dark-grey-text;
    background-color: variables.$grey-background;
    cursor: not-allowed;
  }
}

@mixin orange-button {
  height: 32px;
  padding-inline: 10px;
  color: variables.$near-black-text;
  border: 1px solid variables.$selected-day;
  background-color: variables.$selected-day;
  border-radius: 12px;
  display: flex;
  align-items: center;
  transition: box-shadow 0.3s ease;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 4px 10px 0px rgba(21, 71, 15, 0.3);
    border: none;
    color: variables.$near-black-text;
  }

  &:focus {
    outline: none;
  }

  &:active {
    color: variables.$near-black-text;
  }
}

@mixin back-button {
  height: 48px;
  padding-inline: 16px;
  font-size: 16px;
  color: variables.$near-black-text;
  background-color: variables.$white-background;
  border: 1px solid variables.$grey-background;
  display: flex;
  align-items: center;
  border-radius: 16px;
  transition: box-shadow 0.3s ease;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: variables.$near-black-text;
    box-shadow: 0px 4px 10px 0px rgba(21, 71, 15, 0.3);
  }
}

@mixin page-background {
  background-color: variables.$white-background;
  border-radius: 20px;
  margin-block: 7px;
  padding: 15px;

  @include on-desktop {
    margin: 40px;
    padding: 40px;
  }
}
