/*** MOBILE ***/

@mixin main-text-mobile {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

@mixin date-numbers-mobile {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

@mixin title-mobile {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

/*** WEB ***/

@mixin main-text-web {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

@mixin date-numbers-web {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

@mixin title-web {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
}
