/*** MOBILE ***/

@mixin month-header-mobile {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 16px;
}

@mixin day-names-mobile {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 12px;
}

@mixin date-numbers-mobile {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 14px;
}

@mixin event-titles-mobile {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 14px;
}

@mixin event-details-mobile {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 12px;
}

@mixin notes-mobile {
  font-family: 'OpenSans-Light', sans-serif;
  font-size: 10px;
}

/*** WEB ***/

@mixin month-header-web {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 24px;
}

@mixin day-names-web {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 14px;
}

@mixin date-numbers-web {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 16px;
}

@mixin event-titles-web {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 16px;
}

@mixin event-details-web {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 14px;
}

@mixin notes-web {
  font-family: 'OpenSans-Light', sans-serif;
  font-size: 12px;
}
