$tablet-width: 640px;
$laptop-width: 1024px;

/** COLORS **/
/** Background **/

$grey-background: #E9EAEB;
$white-background: #FFFFFF;

/** Text **/

$near-black-text: #1C2526;
$dark-grey-text: #6B7280;

/** Calendar grid **/

$today-highlight: #f7fdd6;
$grid-lines: #E5E7EB;


