$tablet-width: 640px;
$desktop-width: 1280px;

/** COLORS **/
/** Background **/

$grey-background: #E9EAEB;
$white-background: #FFFFFF;

/** Text **/

$near-black-text: #1C2526;
$dark-grey-text: #6B7280;

/** Calendar grid **/

$today-highlight: #007AFF;
$grid-lines: #E5E7EB;


