$tablet-width: 640px;
$laptop-width: 1024px;

/** COLORS **/
/** Background **/

$grey-background: #f1f2f5;
$white-background: #ffffff;
$brown-background: #ca4c02e7;
$semi-transparent-background: rgba(0, 0, 0, 0.5);

/** Text **/

$near-black-text: #1c2526;
$dark-grey-text: #6b7280;
$red-notification-text: #ea0b0b;

/** Calendar grid **/

$today-highlight: #f0f8c6;
$selected-day: #f9cb8a;
$grid-lines: #e5e7eb;
$has-booking: #c8f806;
$disabled-booking: #e7f99d;
