@use '../../styles/typography' as typography;
@use '../../styles/variables' as variables;
@use '../../styles/mixins' as mixins;

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonUser {
  height: 32px;
  padding-inline: 10px;
  color: variables.$near-black-text;
  background-color: variables.$selected-day;
  border-radius: 12px;
  display: flex;
  align-items: center;
  transition: box-shadow 0.3s ease;
  text-decoration: none;

  @include mixins.hover(box-shadow, 0px 4px 10px 0px rgba(21, 71, 15, 0.3));
  @include mixins.hover(border, none);
  @include mixins.hover(color, variables.$near-black-text);
  @include mixins.focus(outline, none);
  @include mixins.active(color, variables.$near-black-text);
}

.buttonBack {
  @include mixins.back-button;
}
