@use '../../styles/typography' as typography;
@use '../../styles/variables' as variables;
@use '../../styles/mixins' as mixins;

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonUser {
  @include mixins.orange-button;
}

.buttonBack {
  @include mixins.back-button;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: variables.$semi-transparent-background;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}