@use '../../styles/typography' as typography;
@use '../../styles/variables' as variables;
@use '../../styles/mixins' as mixins;

.page {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include mixins.on-desktop {
    margin-bottom: 60px;
  }
}

.container {
  background-color: variables.$white-background;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: variables.$border-radius;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  @include mixins.green-button;

  text-decoration: none;
}

.title {
  margin-block: 0;
  text-align: center;

  // @include mixins.on-desktop {
  //   font-size: 24px;
  // }
}

.text {
  text-align: center;
  font-size: 16px;
}
