@use '../../styles/typography' as typography;
@use '../../styles/variables' as variables;
@use '../../styles/mixins' as mixins;

.page {
  width: 100vw;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include mixins.on-desktop {
    padding: 40px;
  }
}