@use '../../styles/typography' as typography;
@use '../../styles/variables' as variables;
@use '../../styles/mixins' as mixins;

.page {
  width: 100vw;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include typography.month-header-mobile;
}

.buttonBack {
  height: 32px;
  padding: 10px;
  color: variables.$near-black-text;
  border: 1px solid black;
  display: flex;
  align-items: center;
  border-radius: 7px;
}

.button {
  height: 32px;
  padding: 10px;
  background-color: variables.$white-background;
  border: 1px solid black;
  display: flex;
  align-items: center;
  
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  text-align: center;
}

.workday {
  
}

.weekend {
  
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  text-align: center;
}

.day {
  padding: 8px;
  text-align: center;
  background-color: #fff;
  border: 1px solid variables.$grey-background;

  @include mixins.on-desktop {
    text-align: right;
    height: 64px;
  }
}

.currentDay {
  background-color: variables.$today-highlight;
}

.empty {
  border: none;
}

.workdayTile {
  
}

.weekendTile {
  background-color: variables.$grey-background;
}