@use '../../styles/typography' as typography;
@use '../../styles/variables' as variables;
@use '../../styles/mixins' as mixins;

.page {
  width: 100vw;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 14px;

  @include mixins.on-desktop {
    padding: 40px;
  }
}

.title {
  margin-block: 0;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include typography.month-header-mobile;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button {
  height: 32px;
  padding-inline: 10px;
  background-color: variables.$white-background;
  border: 1px solid variables.$grey-background;
  display: flex;
  align-items: center;

  @include mixins.hover(box-shadow, 0px 4px 10px 0px rgba(21, 71, 15, 0.3));
  @include mixins.focus(outline, none);
  @include mixins.hover(border, none);
}

.buttonArrow {
  padding-inline: 10px;
  display: flex;
  background-color: variables.$white-background;
  border: none;
  outline: none;

  @include mixins.hover(border, none);
  @include mixins.focus(outline, none);
}

.arrow {
  height: 16px;
  width: 16px;
}

.buttonBack {
  height: 32px;
  padding-inline: 10px;
  color: variables.$near-black-text;
  border: 1px solid variables.$grey-background;
  display: flex;
  align-items: center;
  border-radius: 7px;

  @include mixins.hover(box-shadow, 0px 4px 10px 0px rgba(21, 71, 15, 0.3));
  @include mixins.hover(color, variables.$near-black-text);
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  text-align: center;
}

.workday {
  
}

.weekend {
  
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  text-align: center;
}

.day {
  padding: 8px;
  text-align: center;
  background-color: variables.$white-background;
  border: 1px solid variables.$grey-background;
  border-radius: 7px;
  outline: none;

  @include mixins.on-desktop {
    text-align: right;
    height: 64px;
  }
}

.currentDay {
  background-color: variables.$today-highlight;
}

.workdayTile {
  cursor: pointer;
}

.weekendTile {
  background-color: variables.$grey-background;
  cursor: pointer;
}

.selectedDay {
  background-color: variables.$selected-day;
}

.hasBooking {
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    width: 8px;
    height: 8px;
    background-color: #ff5722;
    border-radius: 50%;
  }
}

.empty {
  border: none;
}

.bookTitle {
  margin-block: 0;
  text-align: center;
}

.book {
  border: 1px solid variables.$grey-background;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookList {
  width: 90%;
  
}

.bookItem {
  list-style-type: none;
}