@use './styles/typography' as typography;
@use './styles/variables' as variables;
@use './styles/mixins' as mixins;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // font-family: 'Nunito', sans-serif;
  // font-weight: 300;
  // font-size: 14px;

  @include typography.main-text-mobile;

  @include mixins.on-desktop {
    @include typography.main-text-web;
  }
}

body {
  background: variables.$background-gradient;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

h3 {
  @include typography.title-mobile;

  @include mixins.on-desktop {
    @include typography.title-web;
  }
}

.MuiPickersListItem-root.Mui-disabled {
  display: none !important; /* Hide the disabled menu items */
}