@use '../../styles/typography' as typography;
@use '../../styles/variables' as *;
@use '../../styles/mixins' as mixins;
@use 'sass:color';

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
